@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,400;1,500&family=Lora:wght@600;700&family=Raleway:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}

.signupWraper {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
}

.signup {
  width: 350px;

  border-bottom: 2px solid #16e716;
  position: relative;
  overflow: hidden;
}

.signup:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #12dd1263;
  left: -60px;
  top: -60px;
  z-index: -1;
}
.signup:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #12dd1263;
  right: -60px;
  bottom: -60px;
  z-index: -1;
}

.textBox {
  position: relative;
  z-index: 9999;
}

.redLight {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: 60%;
  right: 20px;
  box-shadow: 0 0 10px red, 0 0 15px red;
  transition: 0.4s;
  animation: animate 0.5s ease-in infinite;
}

@keyframes animate {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.green {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #16e716;
  display: inline-block;
  position: absolute;
  top: 60%;
  right: 20px;
  box-shadow: 0 0 10px #16e716, 0 0 15px #16e716;
}

.cardWraper {
  object-fit: cover;
  width: 100%;
  position: relative;
}

.courseBanner {
  width: 100%;
  /* background-color: rgb(51, 47, 47); */
  height: 60vh;
  color: #fff;
  position: relative;

  overflow: hidden;
}
.courseBackgroundImage::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.course {
  z-index: 99999;
}

.courseBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  z-index: -1;
}
.courseBackgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.startCourseCard {
  position: absolute;
  right: 50px;
  top: 40px;
}

.cardWraper {
  position: relative;
}
.coomingSoon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 999;
}

.lock {
  width: 60px;
}

.sessionWraper {
  display: flex;
}
.chip {
  position: absolute;
  top: 5px;
  right: 3px;
}

.closePeview {
  margin-left: auto;
}
